<html>

	<head>
		<title>Students</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<style></style>
	</head>
	<body class="bg-info">
        <div id="box" class'col-md-6 offset-md-3'>{{{body}}}</div>

	</body>
</html>